
<!-- Hero Section -->
<section class="py-5" style="background-color: #0a1930;">
    <div class="container text-center py-5">
      <h1 class="display-4 fw-bold mb-4" style="color: #f5f5f5">Investissez dans votre avenir</h1>
      <p class="lead mb-4" style="color: #f5f5f5">
        Découvrez nos plans d'investissement adaptés à vos objectifs financiers.
        Des solutions flexibles avec des rendements attractifs.
      </p>
      <button (onclick)="message()" class="btn btn-lg" style="background-color: #d4af37; color: #f5f5f5">
        Commencer maintenant
      </button>
    </div>
  </section>
   
  <!-- Plans Section -->
<app-plan></app-plan>

<!-- Footer-->
<app-footer></app-footer>